:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
}

@font-face {
  font-family: 'punk_kid';
  src: local('punk_kid'), url('./fonts/punk_kid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'skratch_punk';
  src: local('skratch_punk'), url('./fonts/Skratch_Punk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.anchor {
  scroll-margin-top: 60px;
}

thead {
  font-family: 'skratch_punk';
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

table tbody:nth-child(even) {
  background-color: #E8E8E8;
}
